[project]
	description = A Tetris game written in Common Lisp
[access "refs/*"]
	owner = group user/Nicolas Lamirault (nlamirault)
[access "refs/for/refs/*"]
	read = group user/Nicolas Lamirault (nlamirault)
	push = group user/Nicolas Lamirault (nlamirault)
	label-Code-Review = -2..+2 group user/Nicolas Lamirault (nlamirault)
	label-Verified = -1..+1 group user/Nicolas Lamirault (nlamirault)
	rebase = group user/Nicolas Lamirault (nlamirault)
	removeReviewer = group user/Nicolas Lamirault (nlamirault)
	submit = group user/Nicolas Lamirault (nlamirault)
[access "refs/heads/*"]
	read = group user/Nicolas Lamirault (nlamirault)
	create = group user/Nicolas Lamirault (nlamirault)
	push = +force group user/Nicolas Lamirault (nlamirault)
	pushMerge = group user/Nicolas Lamirault (nlamirault)
[access "refs/tags/*"]
	push = +force group user/Nicolas Lamirault (nlamirault)
	pushTag = group user/Nicolas Lamirault (nlamirault)
	pushSignedTag = group user/Nicolas Lamirault (nlamirault)
